body{
  display: inline-inline-block;
  margin: 0;
  background: yellow;
  border: 2px solid black;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  border: 1px solid black;
}
.container{
  border: 2px solid grey;
  flex-direction: 
}

div{
  display: inline;
  margin: 0;
}
h3{
  margin: 20px;
}
input{
  padding: -.2px;
}
