$primario:#FFEB3B;
$primario-obscuro:#FBC02D;
$primario-claro: #FFECB3;
$primario-texto:#212121;
$secundario-texto:#757575;
$texto-claro:#FFF9C4;
$color-acentuado:#607D8B;
$borde:#BDBDBD;
 
$quali-amarillo: #F8C300;
$quali-gris: #72706f;
$quali-negro: #121312;
$quali-amarillo-fondo: #E5AB0E;