$primario:#FFEB3B;
$primario-obscuro:#FBC02D;
$primario-claro: #FFECB3;
$primario-texto:#212121;
$secundario-texto:#757575;
$texto-claro:#FFF9C4;
$color-acentuado:#607D8B;
$borde:#BDBDBD;

html {
    height: 95%
}
body {
    background-color: $primario;
    height: 100%;
}

@mixin generico {
    border: 1px solid green;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.generico_derecha {
    @include generico;
    justify-content: flex-end;
}

.generico_izquierda {
    @include generico;
    justify-content: flex-start;
}
.generico_centrado {
    @include generico;
    justify-content: center;
}

.flx {
    border: 3px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    color: $primario-texto;
        h1 {
        text-align: center;
    }
}


@mixin flx_space_between {

}

.flx_login {
    border: 3px solid $color-acentuado;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column; 
    border-radius: 20px;
    padding: 10px;
}

button {
    padding: 10px;
    width: 100px;
}

nav {
    border: 3px solid orange; 
    width: 100%;
    a {
        text-decoration: none;
        padding: 20px;
    }
}

.flx_space_between {
    border: 3px solid pink; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%
}
@mixin informacion {
    border: 3px solid blue;
    display: flex;
    flex-wrap: wrap;
}

.datos {
    @include informacion;
    width: 300px;
    justify-content: flex-end;
    label {
        margin-right: 10px;
    }
    input {
        margin-bottom: 10px;
        text-align: center;
        margin-right: 10px;
    }

}

.foto  {
    @include informacion;
    width: 200px;
}

/* Seccion Formacion */
.section-formacion {
    border: 1px solid red;
}
.label-formacion {
    border: 1px solid blue;
    display: flex;
    justify-content: space-evenly;
}
.label-textarea {
    border: 1px solid green;
    display: flex;
}
.button-formacion {
    border: 1px solid black;
}

/* Seccion Incapacidad */
.section-incapacidad {
    border: 1px solid red;
}
.label-incapacidad {
    border: 1px solid blue;
}
.label-motivo {
    border: 1px solid green;
}
.button-incapacidad {
    border: 1px solid black;
}

/* Seccion Prestamo */
.section-prestamo {
    border: 1px solid red;
}
.label-prestamo {
    border: 1px solid green;
}