@import "colors";

html {
    /* height: 95%; */
    width: 100%
} 

@font-face {
    font-family: "TheklaExtended";
    src: url("TheklaExtended.ttf");
    }

.body-claro{
    background-color: white; 
    height: 100%;
    font-family: 'TheklaExtended';
    margin: 0;
}

.body-obscuro {
    background-color: black; 
    height: 100%;
    font-family: 'TheklaExtended';
    margin: 0;
}

@mixin generico { 
    /* border: 1px solid green; */
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    color: black;
}

.generico_derecha {
    @include generico;
    justify-content: flex-end;
    input {
        margin-left: 5px;
    }
}

.generico_izquierda {
    @include generico;
    justify-content: flex-start;
}
.generico_centrado {
    @include generico;
    justify-content: center;
}

.flx {
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    color: $primario-texto;
        h1 {
        text-align: center;
    }
}

.boton_quali_obscuro {
    background-color: black;
    color: white;
    border:none;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

.boton_quali_obscuro:hover {
    background-color:$quali_gris;
}



.logo_quali {
    display: flex;

}
 
.flx_total {
    /* border: 3px solid purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 800px;
    color: white;
        h1 {
        text-align: center;
    }
}

.columnas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    img {
        margin: 0;
        width: 150px;
    }
}

@mixin reporte {
    /* border: 3px solid black; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 2px;
    padding: 2px;
}

.rep_lateral_izq {
    @include reporte;
    width: 20%;
    background-color: $quali-amarillo;
}

.rep_lateral_der {
    @include reporte;
    width: 60%;
    
}

@mixin linea {
    border: 1px; 
    margin: 8px 0 8px 0;
    width: 100%;
}

.linea_izquierda {
    @include linea;
    text-align: left;
}

.linea_centrada {
    @include linea;
    text-align: center;
    h4 {
        color: gray;
    }
}

.linea_space_between {
    @include linea;
    text-align: center;
    justify-content: space-between;
    select {
        margin-right: 30px;
    }
}


.central_reportes {
    /* border: 3px solid #607D8B; */
    display: flex; 
    flex-direction: rows;
    margin: 3px;
    padding: 5px;
    height: 100%;
    width: 100%;
}


@mixin flx_space_between {

}

.flx_login {
    border: 1px solid black;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column; 
    border-radius: 30px;
    padding: 30px; 
    background-color: $quali-amarillo;
    background-size: 100%;
    input {
        text-align: center;
        font-size: 18px;
    }
}

button {
    padding: 10px;
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid orange;  */
    margin: 0;
    width: 100%;
     
    background-color:black;
    a {
        text-decoration: none;
        padding: 20px;
        color:white;
        font-weight: bolder;
        display: block;
        margin: 0;
    }
    a:hover {
        color: $quali-negro;
        background-color: $quali_amarillo;
    }

    .fondo_amarillo {
        background-color: $quali_amarillo;
        color: black;
    }
  
    img {
        width: 80px;
        margin: 10px 0 10px 0 ;
    }
    
    div {
        display: flex;
        align-items: center;
    }
}

.flx_space_between {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    
}
@mixin informacion {
    /* border: 3px solid blue; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.foto  {
    @include informacion;
    width: 300px;
}

.datos {
    @include informacion;
    width: 350px;
    justify-content: flex-end;
    background-color: $quali-amarillo;
    border-radius: 10px;
    padding: 5px 10px 15px 10px;
    label {
        margin-right: 10px;
    }
    input {
        margin-bottom: 10px;
        text-align: center;
        margin-right: 10px;
        font-size: 17px;
    }
    h3 {
        margin-top: 5px;
    }
}


.footer {
    /* border: 3px solid blue; */
    display: block;
    background-color:$quali-negro;
    width: 100%;  
    color: white;  
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 5px 15px 5px 15px;

    }
} 

/* Seccion Formacion */
.section-formacion {
    border: 1px solid red;
}
.label-formacion {
    border: 1px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* .label-textarea {
    border: 1px solid green;
    display: flex;
} */
.button-formacion {
    border: 1px solid black;
}

/* Seccion Incapacidad */
.section-incapacidad {
    border: 1px solid aqua;
}
.label-incapacidad {
    border: 1px solid blue;
}
.label-motivo {
    border: 1px solid green;
}
.button-incapacidad {
    border: 1px solid black;
}

/* Seccion Prestamo */
.section-prestamo {
    border: 1px solid red;
}
.label-prestamo {
    border: 1px solid green;
}
